//- TODO: 数値やcontentをconfigから読み込む
//- TODO: リサイズにも対応(オプションで)
//- cf. http://jsdo.it/shuuuuun/U8vT
script.
  (function() {
    var breakpoint = 375;
    var viewport = document.querySelector('meta[name=viewport]') || {};
    var winW = window.outerWidth || window.innerWidth;
    if (winW <= breakpoint) {
      viewport.content = 'width=' + breakpoint + ',user-scalable=no';
    }
  })();
