// font ------------------------------
$font_gothic: YuGothic, "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", Helvetica, Arial, sans-serif
$font_serif: YuMincho, "游明朝体", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
$font_helvetica: Helvetica, $font_gothic
$font_helvetica_neue: "Helvetica Neue", $font_gothic
$font_futura: Futura, $font_gothic

// gothic: 'Hiragino Sans', '小塚ゴシック Pro L', 'Kozuka Gothic Pro Light'
// mincho: 'Klee'
// maru_gothic: 'TsukuARdGothic-Regular'


// size ------------------------------
$breakpoint: 700px
