.btn-reserve
  $h: 60px
  display: block
  width: 270px
  height: $h
  margin: auto
  border-radius: 20px
  background-color: $main_color
  box-shadow: 0 10px 0 0 #702530
  color: #fff
  font-size: 20px
  font-weight: bold
  text-decoration: none
  text-align: center
  line-height: $h
  &:active
    box-shadow: 0 2px 0 0 #702530
    transform: translateY(8px)
