.detail
  padding: 20px 0
  p
    margin: 5px auto
    line-height: 1.8
    font-size: 18px
    font-weight: bold
    text-align: center
  img
    max-width: 100%
  .shop-image
    width: 100%
    height: 200px
    margin: 20px auto
    background-size: cover
    background-position: center
  .shop-address
    font-weight: normal
    font-size: 14px

.btn-reserve
  $h: 60px
  display: block
  width: 270px
  height: $h
  margin: 20px auto 30px
  border-radius: 20px
  background-color: $main_color
  box-shadow: 0 10px 0 0 #702530
  color: #fff
  font-size: 20px
  font-weight: bold
  text-decoration: none
  text-align: center
  line-height: $h
  &:active
    box-shadow: 0 2px 0 0 #702530
    transform: translateY(8px)
