.root
  padding: 15px 0
  p
    margin: 5px auto
    line-height: 1.4
    font-size: 19px
    font-weight: bold
    text-align: center
  img
    max-width: 100%

  .logo
    font-size: 2.0rem
    width: 100vw
    height: 200px
    position: relative
    background-color: #fff
    text-indent: -9999px
    overflow: hidden
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-repeat: no-repeat
      background-position: center
      background-size: auto 33px
      background-image: url('/img/logo_pink.svg')
