block config-block
  - title = page_name ? [page_name, site_name].join(' | ') : site_name

doctype html
html(lang="ja")
  head
    include ../partials/_meta

    block stylesheet-block
      link(rel="stylesheet" href="/css/app.css")

    include ../partials/_ga.html
    include ../partials/_adsense_header.html

  body
    div.wrapper
      div#app

    block javascript-block
      script(src="/js/script.js")

    include ../partials/_share-scripts
    include ../partials/_viewport
    div.adsense_sp
      include ../partials/_adsense_sp.html
    div.adsense_pc
      include ../partials/_adsense_pc.html
    
